@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom CSS */
:root {
  --space-top: 55px;
  --space-top-mobile: 110px;
  --color-border: #333;
  --loading: #777
}

html {
  font-family: var(--font-body);
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-heading);
}

p {
  margin-bottom: 1rem;
}

.grecaptcha-badge { visibility: hidden!important; }

*:focus, *:focus-visible {
  outline-width: 2px;
  outline-color: theme(colors.focus.DEFAULT);
  outline-offset: 0.1rem;
  outline-style: dashed;
}

*:focus:not(:focus-visible) { outline: none }

*::selection {
  background-color: theme(colors.link.light);
  color: theme(colors.copy-inverse.dark);
}